<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'navi/assets/img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'navi/assets/img/favicon.png' %}">
  <title>
    mer:LAN
  </title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href="{% static 'navi/assets/css/nucleo-icons.css' %}" rel="stylesheet" />
  <link href="{% static 'navi/assets/css/black-dashboard.css' %}" rel="stylesheet" />
<link href="{% static 'navi/assets/demo/demo.css' %}" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper">
    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-mini">
          @ </a>
          <a href="javascript:void(0)" class="simple-text logo-normal align">
              /sdb/disk1s2
          </a>
        </div>
        <ul class="nav">
          <li>
            <a href="{% static 'navi/dashboard.html' %}">
              <i class="tim-icons icon-book-bookmark"></i>
              <p style="font-size:0.8rem">Notes</p>
            </a>
          </li>
          <li>
            <a href="{% static 'navi/icons.html' %}">
              <i class="tim-icons icon-atom"></i>
              <p style="font-size:0.8rem">Enterprise Planner</p>
            </a>
          </li>
          <li>
            <a href="{% static 'navi/notifications.html' %}">
              <i class="tim-icons icon-chat-33"></i>
              <p style="font-size:0.8rem">Messages</p>
            </a>
          </li>
          <li class="active">
            <a href="{% static 'navi/user.html' %}">
              <i class="tim-icons icon-molecule-40"></i>
              <p style="font-size:0.8rem">LAN File Server</p>
            </a>
          </li>
          <li>
            <a href="{% static 'navi/tables.html' %}">
              <i class="tim-icons icon-upload"></i>
              <p style="font-size:0.8rem">Peer File Sharing</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
              <a class="navbar-brand" href="javascript:void(0)"><p style="display:inline; text-transform: lowercase;" class="text-primary">mer: </p>Local Area Network<br>
                <p style="display:inline; text-transform: none; font-size: 0.7rem; font-style: italic">powered by django
                <p style="display:inline; text-transform: none; font-size: 0.8rem; font-style: italic;" class="text-primary">FileSystemStorage</p>
                </p>
              </a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">

              <li class="dropdown nav-item">

                <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                  <li class="nav-link"><a href="#" class="nav-item dropdown-item">No Notifications</a></li>
                </ul>
              </li>
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="photo">
                    <img src="{% static 'navi/assets/img/anime3.png' %}" alt="Profile Photo">
                  </div>
                  <b class="caret d-none d-lg-block d-xl-block"></b>
                  <p class="d-lg-none">
                    Log out
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-navbar">
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Profile</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Settings</a></li>
                  <li class="dropdown-divider"></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Log out</a></li>
                </ul>
              </li>
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-12"> </div>
        </div>
		<div class="row">
          <div class="col">
            <div class="card overflow-auto">
              <div class="card-header">
                <h4 class="card-title"> Files on LAN Server</h4>
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
					<input type="file" id="uploaded_file" name="uploaded_file" style="display:none;"  onchange="javascript:this.form.submit()"/>
					<button id="button" name="button" class="btn btn-fill btn-primary" onclick="thisFileUpload(); return false;">Upload</button>
                    <script>
                        function thisFileUpload() {
							document.getElementById("uploaded_file").click();
						};
					</script>
				</form>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter " id="">
                    <thead class=" text-primary">
                      <tr>
                        <th>
                          Name
                        </th>
                        <th>
                          Format
                        </th>
                        <th>
                        File Size</th>
                        <th>
                          Uploaded By
                        </th>
                        <th>
                          Time of upload
                        </th>
						  <th class="text-center">
                          Download
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                       {% for f in files %}
                      <tr>
                        <td>
                          {{f.name}}
                        </td>
                         <td>
                          {{f.fmt}}
                        </td>
                        <td>
                          {{f.file_size}} MB&nbsp;
                        </td>
                        <td>
                          {{f.uploaded_by}}
                        </td>
						<td>
                          {{f.date_time}}
                        </td>
                        <td class="text-center">
                          <a href="/media/{{f.url}}"><i class="tim-icons icon-cloud-download-93"></i></a>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <div class="copyright">
            mer<sup>(community)</sup><br>version 1.0.2
          </div>
        </div>
      </footer>
    </div>
  </div>
  <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
      </a>
      <ul class="dropdown-menu">
        <li class="header-title"> Sidebar Background</li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger background-color">
            <div class="badge-colors text-center">
              <span class="badge filter badge-primary active" data-color="primary"></span>
              <span class="badge filter badge-info" data-color="blue"></span>
              <span class="badge filter badge-success" data-color="green"></span>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
        <li class="adjustments-line text-center color-change">
          <span class="color-label">LIGHT MODE</span>
          <span class="badge light-badge mr-2"></span>
          <span class="badge dark-badge ml-2"></span>
          <span class="color-label">DARK MODE</span>
        </li>
      </ul>
    </div>
  </div>
  <script src="{% static 'navi/assets/js/core/jquery.min.js' %}"></script>
  <script src="{% static 'navi/assets/js/core/popper.min.js' %}"></script>
  <script src="{% static 'navi/assets/js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'navi/assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <script src="{% static 'navi/assets/js/plugins/bootstrap-notify.js' %}"></script>
  <script src="{% static 'navi/assets/js/black-dashboard.min.js' %}"></script>
  <script src="{% static 'navi/assets/demo/demo.js' %}"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function() {
          $('body').removeClass('white-content');
        });
      });
    });
  </script>
</body>

</html>